
.site-header,
.site-footer {
  font-size: 0.9em;
  @include md { font-size: 0.75em; }
}

.site-header {
  .site-branding img {
    padding: 10px 0;
    width: auto;
    margin-right: 1rem;
    max-width: 150px;
  }
}

.site-footer {
  background-color: $purple;
  color: $lightgrey;
  padding-top: 1.5rem;
  margin-top: 2rem;
  #footer-elements {
    padding-bottom: 1.5rem;
  }
  .footer-info-container {
    background-color: $darkpurple;
    padding: 1.5rem 0 1.5rem;
    text-align: center;
    @include md { text-align: left; }
  }
  .attribution {
    margin: 0;
    text-align: center;
    @include md { text-align: right; }
  }
  .footer-logos {
    margin: 1.25rem 0 0;
    a:first-child {
      margin-bottom: 2rem;
      margin-right: 1.5rem;
      display: block;
      @include md {
        margin-right: 2.5rem;
        margin-bottom: 0;
        display: inline-block;
      }
    }
    @include md { margin: 0; }
  }
  #mc_embed_signup {
    max-width: 580px;
    margin: 0 auto;
    @include xl {
      max-width: 33.333%;
      flex-basis: 33.333%;
    }
    #label-social,
    #email-form {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .column {
        padding: 0;
        flex: 1;
        &.shrink {
          flex: 0 0 auto;
        }
      }
    }
    #label-social {
      align-content: space-between;
      margin-bottom: 0.5rem;
      .fab {
        color: $lightgrey;
        font-size: 1.5em;
        margin-left: 0.5rem;
      }
    }
    input[type="email"] {
      color: $white;
      background: none;
      border: 4px double $lightgrey;
      height: 48px;
      padding-left: 5px;
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      width: 100%;
      max-width: 100%;
      padding: 0 0.25rem;
      border-radius: 0.15rem;
    }
    input[type="submit"] {
      height: 48px;
      line-height: 24px;
      &:hover {
        background: darken($purple, 10%);
      }
    }
  }
  #menu-footer {
    flex: 1 0 100%;
    margin-top: 2rem;
    padding-left: 0;
    @include xl {
      margin-top: 0;
      flex: 1;
    }
  }
  #reporting-support {
    text-align: center;
    margin-top: 3rem;
    @include md {
      text-align: right;
      padding-left: 2rem;
      margin-top: 0;
    }
  }
  .slogan {
    margin-right: 1rem;
  }
}

.home .site-footer {
  margin-top: 0;
}

.slogan a {
    font-style: italic;
    font-size: 0.95em;
    color: $lightpurple;
    text-decoration: none;
    &:hover,
    &:focus,
    &:visited {
      color: $white;
    }
}

.slogan.small {
  display: none;
  @include sm { display: inline-block; }
  @include md { display: none; }
}

.slogan.right {
  display: inline-block;
  @include sm { display: none; }
  @include md { display: inline-block; }
}
