.site-width,
.entry-content,
.list-view .content-area,
.projects-view .content-area,
article#person {
  max-width: $site-width;
  margin: 0 auto;
  padding: 0 1.2rem;
  @include md { padding: 0 2rem;}
}

.other-posts .other-post {
  margin-bottom: 1.5rem;
  .entry-meta {
    margin-top: 0.75rem;
    margin-right: 0;
  }
}

.single .entry-content {
  padding-top: 2rem
}

.list-view, .projects-view {
  article {
    &:last-child {
      border-bottom: 0;
    }
  }
  figure.post-image a {
    width: 100%;
    img {
      width: auto;
    }
  }
  .hero .entry-header {
    @include md { padding-left: 2rem; }
  }
}

.list-view figure.post-image a img, .projects-view figure.post-image a img {
	width: 100%;
}

.list-view {
  article {
    &.small .shrink {
      padding-bottom: 0;
      @include md { padding-bottom: 1rem; }
    }
    &.half + .hero {
      padding-top: 1rem;
      margin-top: 1rem;
      border-top: 1px solid $lightgrey;
    }
  }
  .hero {
    width: 100%;
    flex-basis: 100%;
    padding-bottom: 1rem;
  }
  .half {
    padding-bottom: 2rem;
  }
  .one {
    max-width: 960px;
    margin-bottom: 1rem;
    .entry-meta {
      float: none;
    }
    @include md {
      margin: 2rem 0;
      padding: 2rem 0 0;
      border-top: 1px solid $lightgrey;
    }
  }
  .grid + .one {
    margin: 1rem 0 2rem;
  }
}

.list-view.modules article {
  padding-bottom: 0 !important;
  border-bottom: 0 !important;
}

@include md {
  .list-view .site-main > article:first-of-type,
  .list-view.site-main > article:first-of-type,
  .list-view h2.section + article,
  .list-view article.half + .hero {
    border-bottom: 1px solid $lightgrey;
    padding-bottom: 2rem
  }
  .list-view.site-main.research > article:first-of-type {
    padding-bottom: 0;
		border-bottom: 0;
  }
}

.list-view .one .entry-meta {
  float: none
}

.list-view.research .description p {
  margin-bottom: 0.5rem;
}


.projects-view {
  .full, .hero {
    width: 100%;
    flex-basis: 100%;
    border-bottom: 1px solid $lightgrey;
    header {
      @include md { padding-top: 1rem; }
      padding-bottom: 0;
    }
  }
  .hero {
    padding-bottom: 1rem;
    figure.post-image a {
      @include md { height: 640px; }
    }
    .project-description {
      width: 100%;
      margin-bottom: 1rem;
    }
    .project-info {
      margin-top: 0;
    }
    .partner-logo {
      margin: 0 1rem 0.5rem 0;
    }
  }
  .full, .half {
    figure.post-image a {
      @include md { height: 390px; }
    }
  }
  .half + .full,
  .half + .hero {
    border-top: 1px solid $lightgrey;
    @include md { margin-top: 1rem; }
  }
  .full + .half {
    border-top: 0;
  }
  .full .third {
    padding: 0;
    @include md { padding: 1rem 0 0 0;}
  }
  .half {
    padding-top: 2rem;
    border-top: 1px solid $lightgrey;
    @include md {
      border-bottom: 0;
      border-top: 0;
      .button {
        margin-bottom: 0;
      }
    }
    header {
      padding-top: 1rem;
    }
    h1.project-title {
      margin-right: 1.5rem;
    }
  }
  figure.post-image a {
    display: flex;
    img {
      object-fit: cover;
      object-position: center;
    }
  }
  p {
    margin-bottom: 0;
  }
  .partner-logo {
    display: inline-block;
  }
  .partner-logo img {
    max-width: 130px
  }
  .project-info {
    margin: 1rem 0;
  }
}

.partner-logo {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  span {
    flex-basis: 100%;
    display: block;
    font-size: 0.7em;
    text-transform: uppercase;
  }
  img {
    margin: 0.3rem 0.7rem 0.3rem 0;
    max-width: 150px;
    max-height: 44px;
  }
}

.hero .partner-logo {
  margin: 1rem 0 0.5rem 0
}

.home .list-view {
  overflow: hidden;
}

.home .list-view .site-main > article:first-of-type {
  margin-top: 0.2rem;
  border-bottom: 0;
  @include md { margin-top: 1.2rem; }
  .two-third {
    padding-bottom: 0;
  }
}

@media (min-width: 850px) {
    .home .list-view .site-main>article:first-of-type {
        margin-top: 1.2rem
    }
}

h2.section+article.small {
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0;
    border-bottom: 0
}

// Ideas
.authors-bio {
  border-top: 1px solid #b7b7b7;
  padding-top: 1rem;
  margin-top: 2rem;
  font-style: italic;
  font-size: 0.9em
}

.feature-logo-buttons {
  @include lg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.7rem;
    .featured-buttons {
      padding-left: 0.5rem;
      padding-top: 0;
      margin-left: auto;
      a.button.primary {
        margin: 0.15rem 0.3rem 0.15rem 0;
      }
    }
  }
}

.projects-view .feature-logo-buttons {
  margin: 0 0 1rem;
  @include md {
    .partner-logo {
      margin-right: 1rem;
    }
  }
}

// People
section.people-list {
  border: 1px solid $lightgrey;
  padding: 1rem;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  display: none;
}

section.people-list.active {
  display: block;
}

section.people-list article:last-child {
  margin-bottom: 1rem;
}

article.person-list {
  margin: 1.7rem 0 2.4rem;
}

article.person-list h2.person {
  font-size: 1em;
  font-family: $font__main;
  font-weight: 400;
  margin-bottom: 0.25rem;
}

article#person {
  margin-top: 1.5rem;
}

// News and Events
#grc-news-events {
  padding-top: 0.5rem;
}

.single .event-details {
  margin-top: 1rem;
  .grid .column .event {
    padding: 0.5rem;
  }
  p {
    margin-top: 0;
    a {
      display: inline;
    }
  }
}

.event {
  background-color: $darkgrey;
  padding: 0 0.4rem;
  display: inline-block;
  color: $fullwhite;
  border: 1px solid $darkgrey;
  font-size: 0.9em;
}

.event span {
  padding-left: 1rem
}

.event-details .fas {
  font-size: 1.1em;
  margin-right: 0.35rem
}

.events main {
  article:first-of-type {
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0.5rem !important;
    @include md { padding-top: 0 !important; }
  }
  article:last-of-type {
    border-bottom: 0 !important;
  }
}

.events #past-events h2.section + article.small {
  padding-top: 1.5rem;
}

// Full Screen layout

.fullscreen-container {
  position: relative;
  height: 50vh;
  overflow: hidden;
  .entry-header {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3;
  }
  a.linked-category {
    color: $white;
  }
  &.shadow {
    &::after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.3) 100%);
    }
  }
  @include md {
    height: calc(100vh - 62px);
  }
}

.single .fullscreen-container + .entry-content {
  padding-top: 0.5rem
}

.small img {
  @include md { max-width: 350px; }
}

.podcast {
  .fullscreen-container {
    height: calc(85vh - 95px) !important;
    .entry-header {
      @include sm { text-align: right; }
      color: $white;
      h1.page-title {
        color: $white;
        margin: 0.5rem 0;
        font-size: 2.4em;
        @include md {
          font-size: 3.2em;
        }
        span {
          display: block;
        }
      }
      p {
        font-size: 0.9em;
      }
    }
  }
  .podcast-buttons {
    a {
      margin: 0 0.5rem 0.5rem 0;
      img {
        max-width: 140px;
        @include sm { max-width: 160px; }
        @include md { max-width: 200px; }
      }
    }
  }
  #content-area {
    order: 2;
    @include md {
      order: 1;
    }
  }
  #listen {
    order: 1;
    @include md {
      order: 2;
    }
  }
  #overview {
    display: flex;
    flex-direction: column;
    @include md {
      flex-direction: row;
    }

    .fa-arrow-right {
      margin-left: 0.25rem;
      font-size: 0.9em;
    }
    .two-third {
      @include md {
        margin-right: 2.5rem;
      }
    }
    .column {
      padding: 0;
      @include md {
        padding: 1rem 0;
      }
    }
    .entry-meta {
      margin-top: 1rem;
      + h2 {
        margin-top: 0.5rem;
      }
    }
    h2 {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 2rem;
        height: 1px;
        background-color: $grey;
      }
    }
  }
  #episodes {
    h2 {
      @include md { margin: 0 0 0.5rem; }
    }
    p {
      font-size: 0.8em;
    }
    article {
      padding: 1rem 0;
      margin: 0;
      border-top: 1px solid $lightgrey;
      h1 {
        margin: 0.5rem 0 0 1rem;
      }
    }
  }
  a.podcast, h1.podcast-title {
    display: flex;
    align-items: center;
      span.episode-number {
        font-weight: 700;
        font-size: 3em;
        display: inline-block;
        font-family: $font__main;
      }
  }
  span.label {
    text-transform: uppercase;
    font-size: 0.8em;
    margin-right: 0.5rem;
    a {
      text-decoration: none;
    }
  }
  h1.podcast-title {
    display: block;
    @include md { display: flex; }
    margin: 0.5rem 0;
    span.episode-number {
      font-size: 1em;
      margin-bottom: 0.4rem;
      margin-right: 0.5rem;
    }
  }
  h2 {
    margin: 1.5rem 0 0.5rem;
    &.extra-margin {
      @include md {
        margin-top: 2rem;
      }
    }
    @include md {
      margin: 1rem 0 0.5rem;
    }
  }
  p {
    font-size: 0.8em;
  }
  .podcast-ep-header {
    background: $lightgrey;
  }
  .posted-on {
    font-size: 0.8em;
  }
  #episode-overview {
    padding: 1.5rem 1rem 3rem;
    @include md { padding: 1.5rem 2rem 3rem; }
    .podcast-buttons {
      margin-bottom: 1rem;
    }
    img {
      border-radius: 3px;
    }
  }
  .one {
    .shrink + .column {
      padding: 0;
      @include md { padding: 1rem 2rem 1rem 0; }
    }
  }
  #transcript {
    max-width: 780px;
    p {
      margin-bottom: 1.4rem;
      &.lead {
        margin-top: 0;
        margin-bottom: 1rem;
      }
      &.indent {
        padding-left: 3rem;
      }
    }
    .podcast-embed-container {
      margin-top: 0.5rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid $lightgrey;
      padding-bottom: 1rem;

    }
  }
  .podcast-embed {
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
  }

}

.page-template-page-events-vi .list-view .one {
  margin: 2rem 0 0;
}

#post-1767 .entry-content {
	max-width: 1000px;
	margin: 1.5em auto 0;
}

#post-1767 h1.page-title {
	max-width: 1000px;
	margin: 0.7em auto 0;
	padding: 0 0.9375rem;
	display: block;
}

.page-template-page-events #post-1896 {
	display: none;
}

div.att {clear: left; float: left; margin-bottom: 1.5rem;}

.instagram-media {
	max-width: 440px !important;
	margin: 0 auto !important;
}

// VANCOUVER INSTITUTE
.vi-contact {
	background: #FFF8D3;
	padding: 1rem;
	border-radius: 2px;
	border: 5px double grey;
}

// MODULES
.content-area.module {

  figure {
    margin: 0 0 1rem;
    img {
      display: block;
    }
  }

  div.header-content {
    padding: 0 1rem;
  }

  .entry-content {
    margin: 0 0 3rem 0;
  }

  @include md {
    figure {
      margin: 0;
    }
    article {
      position: relative;
    }
    .entry-header {
      height: 100%;
      width: 33%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $darkpurple;
      color: $white;

      h1 {
        font-size: 2rem;
      }

      p a {
        color: $white;

        &:focus, &:hover {
          color: $lightpurple;
        }
      }
    }
    .entry-content {
      margin: 0 0 0 33%;
      padding: 1rem 2rem;
    }
  }

  + .site-footer {
    margin-top: 0;
  }
}

// Supporters Page
#post-38009 .entry-content {
  text-align: center;
}