// Custom styles on top of default slider styles
#slider-container {
  position: relative;
  background: $lightgrey;
  padding-bottom: 1rem;
  &::before {
    content: '';
    position: absolute;
    background: $fullwhite;
    height: 35%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .slider.item {
    margin-bottom: 0;
    h1 {
      margin: 0.3rem 1rem 0.6rem 0;
      line-height: 1.5;
    }
    .byline {
      @include small-heading;
    }
    .posted-on {
      background: darken($lightgrey, 10%);
      font-size: 0.8em;
    }
    .event {
      font-size: 0.8em;
      padding: 0.25rem 0.5rem;
      display: inline-block;
      margin-bottom: 0.5rem;
    }
    .entry-header a {
      display: inline;
    }
  }
  #slider-loader {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 8;
    background: $fullwhite;
    text-align: center;
    img {
      margin-top: 90px;
    }
  }
  .owl-theme {
    .owl-nav {
      margin-top: 0;
      display: none;
      @include xl { display: block; }
      .owl-prev, .owl-next {
        position: absolute;
        top: 22%;
      }
      .owl-prev {
        left: 0;
      }
      .owl-next {
        right: 0;
      }
      &.disabled {
        opacity: 0.1;
      }
      [class*="owl-"] {
        background: none;
        color: $black;
        border: 0;
      }
    }
    .owl-dots {
      background: none;
      border: 0;
      padding-top: 1rem;
      button {
        border: 0;
        background: none;
        padding: 0.5rem 0.1rem;
      }
      .owl-dot span {
        border: 1px solid $grey;
      }
    }
  }
}
