ul, ol {
	margin: 0 0 1.5rem 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5rem;
}

.entry-content ul, .entry-content ol {
  max-width: $content-width;

  li {
    margin-bottom: 1.5rem;
  }
}