$black: #222222;
$darkgrey: #404040;
$grey: #777777;
$lightgrey: #d6d6d6;
$white: #f4f4f4;
$fullwhite: #ffffff;

$darkpurple: #191624;
$purple: #2A263D;
$lightpurple: #e5e0ff;
$linkpurple: #5d43db;

$blue: #4198e1;
$royalblue: #4169e1;
$teal:#5BB89C;

$yellow: #FFF8D3;
$orange: #FFC171;
$red: #ef5350;