a {
  color: $black;
  transition: color 0.2s;
  text-decoration: underline;
  display: inline-block;
	&:visited {
		color: $black;
	}
	&:focus {
		outline: 1px dotted $purple;
  }
  &.linked-category {
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 1px solid;
    color: $grey;
    &:hover,
    &:focus,
    &:active {
      color: $white !important;
    }
    &.projects {
      border-color: $blue;
      &:hover, &:focus { background-color: $blue; }
    }
    &.ideas, &.medical-supply-chains {
      border-color: $purple;
      &:hover, &:focus { background-color: $purple; }
    }
    &.news {
      border-color: $royalblue;
      &:hover, &:focus { background-color: $royalblue; }
    }
    &.events {
      border-color: $teal;
      &:hover, &:focus { background-color: $teal; }
    }
  }
  &.button {
    border: 1px solid $grey;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 0.9em;
    transition: background-color 0.2s;
    &:hover,
    &:focus {
      background-color: $purple;
      color: $white;
      border-color: $purple;
    }
    &:focus {
      box-shadow: 1px 1px 2px $purple;
    }
    &.small {
      font-size: 0.9em;
      padding: 0.15rem 0.6rem;
    }
    &.primary {
      background-color: $purple;
      color: $white;
      margin: 0 0.3rem 0.3rem 0;
      &:hover,
      &:focus {
        background-color: $darkpurple;
      }
    }
    .fas {
      margin: 0 0.4rem 0;
      font-size: 0.9em;
    }
  }
}

span.category-link {
  margin-bottom: 0.5rem;
}

.entry-content a, p a {
  &:hover,
	&:focus,
	&:active {
		color: $linkpurple;
	}
}

.list-view article header a, 
.projects-view article header a {
  text-decoration: none;
}

.list-view article a.button,
.projects-view article a.button {
  margin-top: 1rem;
  @include md { margin-top: 0; }
}

.list-view a:hover h1 span,
.projects-view a:hover h1 span {
  background-image: linear-gradient(to bottom, $purple 33%, #2A263D 66%);
  background-position: 0 1.075em;
  background-size: 1px 1px;
  background-repeat: repeat-x;
}

.nav-links {
  padding: 1rem 1rem 0;
  max-width: $site-width;
  margin: 0 auto;
  display: flex;
  @include md { padding: 1rem 2rem 0;}
  .nav-previous {
    padding-right: 2rem;
    flex: 1;
  }
  .nav-next {
    flex: 1;
  }
  a {
    font-size: 0.8em;
    text-decoration: none;
    &:hover, &:focus {
      color: $linkpurple;
    }
  }
}

h2.person a {
  &:hover, &:focus {
    color: $linkpurple;
  }
}

.personal-links {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
  display: flex;
  @include md { margin: 0 0 0 1.25rem; }
  li {
    margin-right: 0.5rem;
  }
}