@import "accessibility";
@import "alignments";
@import "wp-styles";

// WP Admin styles

body.admin-bar .fullscreen-container {
  height: calc(100vh - 95px);
}

// Callout panels for 'about the grc' and 'donate'

.callout-panel {
  padding: 3rem 2rem;
  margin: 2rem auto;
  background: $yellow;
  border-radius: 3px;
  border: 6px double $black;
  h2 {
    font-size: 3em;
    line-height: 1.2;
    margin: 0 0 1.5rem 0;
  }
  a.call-to-action {
    transition: background-color 0.2s;
    display: inline-block;
    background-color: $orange;
    text-decoration: none;
    padding: 1.75rem 2.75rem;
    border-radius: 3px;
    text-align: center;
    margin-top: 2rem;
    &:hover, &:focus {
      background-color: darken($orange, 10%);
    }
  }
  @include md {
    > div {
      display: flex;
      align-items: center;
      h2 {
        margin: 0 0 1rem 0;
      }
      a.call-to-action {
        margin-top: 0;
        padding: 1.25rem 1.75rem;
      }
      div:first-child {
        flex: 1 0 70%;
        margin-right: 5%;
      }
      div:last-child {
        flex: 1 0 25%;
      }
    }
  }
}

// On individual posts, the callout panel is attached to the footer
.single .callout-panel {
  max-width: none;
  margin-bottom: -2rem;
  border: 0;
    > div {
      max-width: $site-width;
      padding: 0 2rem;
      margin: 0 auto;
    }
}

.callout-panel.about {
  background-color: $darkpurple;
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9990px;
    border-left: 9999px solid $darkpurple;
    box-shadow: 9999px 0 0 $darkpurple;
    z-index: 0l
  }
}

// Collapsers

#collapsers {
  margin-bottom: 3rem;
  .collapser {
    overflow: auto;
    border: 1px solid $grey;
    margin: 1rem 0;
    border-radius: 2px;
    max-width: $content-width;
    .title {
      display: flex;
      cursor: pointer;
      transition: background-color 0.15s;
      align-items: center;
      &:hover,
      &:focus {
        background-color: $lightgrey;
      }
    }
    .content {
      padding: 0 1rem;
      font-size: 0.9em;
      display: none;
    }
    span {
      padding: 0.8rem;
      &.text {
        flex-grow: 1;
        padding-left: 1rem;
      }
      &.info,
      &.plus-minus {
        flex-shrink: 1;
      }
      &.plus-minus {
        border-left: 1px solid $grey;
      }
    }
  }
}

// Repeater Rows (for awards, funder logos)

.repeating-rows {
  border: 1px solid $lightgrey;
  font-size: 0.9em;
  margin-bottom: 2rem;
  .row {
    img {
      max-width: 240px;
      border: 1px solid $lightgrey;
    }
    span {
      display: block;
      text-align: center;
      @include md { text-align: left; }
    }
    a {
      display: block;
      &:hover,
      &:focus {
        border-bottom: 0;
      }
    }
    &:nth-child(odd) {
      background: lighten($lightgrey, 10%);
    }
    .shrink {
      text-align: center;
    }
    .column {
      padding: 1.2rem;
    }
  }
  &#awards {
    margin: 0.5rem 0;
    max-width: $content-width;
    font-size: 0.9em;
    h2 {
      font-size: 2em;
      margin: 0;
      padding: 2rem 1.3rem 0.65rem;
      border-bottom: 1px solid $purple;
      text-align: center;
    }
    .grid {
      padding: 1rem 0;
      @include md { padding: 0; }
    }
    .row {
      img {
        max-width: 80px;
        border: 0ex;
      }
      .column {
        padding: 0.6rem 1.2rem;
      }
    }
  }
}
